/* Reseteo de Selectores */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: large;
}

ul,
ol {
    padding: 0px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/* Reseteo de Selectores */
/* Font Header: Noto Sans */



header {
    width: 100%;
    height: 85px;
    margin: 0px;

    color: rgb(0, 0, 0);
    background: #1b9ccf;
    background: radial-gradient(circle, rgba(27, 156, 207, 1) 0%, rgba(179, 42, 189, 1) 52%, rgba(255, 119, 0, 1) 100%);

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 13.44px;
    border-bottom: #c9c9c9 solid 2px;

}

.bloque_header {
    display: flex;
}

.logo_home {
    order: 11;
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo_home a {
    font-size: 24px;
}

.ul_login_register a {
    font-size: 24px;
}

.imagen_logo {
    margin: 96px;
    width: 100px;
}

.buscador {
    order: 101;
    width: 50%;
    justify-content: space-evenly;
}

.barra {
    border-top-left-radius: 15px 50%;
    border-bottom-left-radius: 15px 50%;
    border-top-right-radius: 15px 50%;
    border-bottom-right-radius: 15px 50%;
    background-color: #ffffff;

    width: 75%;
    height: 15px;
    padding: 18px 30px;
    color: rgb(0, 0, 0);
}

.login_register {
    order: 1001;
    width: 25%;
    display: flex;
    padding-right: 48px;
}

.ul_login_register {
    width: 100%;

    display: flex;
    justify-content: flex-end;

}

.login {
    margin-right: 30px;
}

.color_header {
    color: black;
}

.willy {
    display: flex;
}

aside {
    margin: 19.2px;
    background: #f459ff;
    background: linear-gradient(36deg, rgba(244, 89, 255, 1) 0%, rgba(255, 163, 82, 1) 100%);
    width: 25%;
    padding: 9.6px 38.4px;
    font-size: large;
}

.ul_aside li {
    margin: 20px 0px;
}


section {
    background-color: rgb(255, 255, 255);
}

a {
    color: rgb(0, 0, 0);
}

button {
    color: rgb(255, 255, 255);
    font-size: large;
    padding: 2px;
    width: 70px;
    border-radius: 5px;
    background-color: rgb(50, 50, 50);
    border: 0 none;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #ffffff;
    padding: 19.2px 48px 48px 48px;

}


.boton {
    height: 35px;
    padding: 5px;
    border-radius: 10% 10% 10% 10%;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.p_precio {
    margin: 5px 0px;
    font-size: larger;

}

footer {
    width: 100%;
    height: 50px;
    background-color: oklch(59.987% 0.00007 271.152);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: smaller;
}

footer * {
    font-weight: normal;
    font-size: small;
    color: white;
}


/* Todo lo de arriba compone reseteo de atributos, Header, Footer e Index */


/* Tcss del categoty.html */

.secciones {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: rgb(255, 255, 255);
    margin-bottom: 96px;
}

/*titulo*/
.titulos {
    color: rgb(0, 0, 0);
    width: 100%;
    font-size: 32px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
}

.article_category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: rgb(25, 25, 25);
    /* background: #d1f2ff; */
    /* background: linear-gradient(36deg, rgba(209, 242, 255, 1) 0%, rgba(228, 182, 252, 1) 100%); */
    border-radius: 5% 5%;
    width: 24%;
    margin: 4px;
    padding: 12px;
}

/* .article_category:hover {
    background: #52ceff;
    background: linear-gradient(36deg, rgba(82, 206, 255, 1) 0%, rgba(166, 0, 255, 1) 100%);
    color: white;
} */

img {
    width: 200px;
    border-radius: 5% 5%;
}

.section_ssr {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

.div_ssr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: small;
}

.ssr_p  {
    text-wrap: wrap;
}

.div_p {
    text-align: center;
}

.h3_productos {
    font-weight: bold;
    text-align: center;
    margin: 5px 0px 5px;
}

p {
    text-align: justify;
}

.bloque_aside_productos {
    width: 12%;
}

.main_productos {
    width: 88%;
    display: flex;
    flex-direction: column;
}

.article_producto {
    display: flex;
    flex-direction: column;
}

.p_categorias {
    margin-top: 25px;
}

.article_producto h3 {
    font-size: 48px;
    margin: 0px;
}

.article_producto p {
    text-align: left;
}

.seccion_producto {
    display: flex;
    padding: 19.2px;
    margin: 32px;
    margin-bottom: 48px;
}

.seccion_producto img {
    width: 33%;
}

.comentarios-product {
    background: linear-gradient(36deg, rgba(209, 242, 255, 1) 0%, rgba(228, 182, 252, 1) 100%);
    padding: 20px;
    border-radius: 10px;
}

.p_comentarios {
    text-align: justify;
}

.div_comentarios {
    display: flex;
}

.comments {
    margin: 0px 30px;
}

.comprar {
    display: flex;
    font-weight: 600;
    font-size: 28px;
    align-self: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(36deg, rgba(209, 242, 255, 1) 0%, rgba(228, 182, 252, 1) 100%);
    width: 60%;
    height: 50px;
    padding: 5px;
    border-radius: 10px 10px;
    color: black;
}

/* .comprar:hover {
    background: linear-gradient(36deg, rgba(82, 206, 255, 1) 0%, rgba(166, 0, 255, 1) 100%);
    color: white;
} */

.main_productos {
    width: 85%;
}


.login-caja {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.body_loginregister {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-login {
    padding: 32px;
    border-radius: 12px;
    width: 40%;
    height: 400px;
    margin: 150px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(36deg, rgba(244, 89, 255, 1) 0%, rgba(255, 163, 82, 1) 100%);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
}

#no_tengo_cuenta {
    margin-top: 15px;
}

.form-login div {
    margin-top: 8px;
}

.boton_login {
    height: 75px;
    width: 50%;
    margin-top: 28px;
}

/* .boton_login:hover {
    background: rgb(0, 0, 0);
} */

.titulo-form {
    font-size: 32px;
}

.input-form {
    width: 100%;
    padding: 4px;
    border-radius: 10px;
}

.register-caja {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.emcon_caja {
    width: 100%;
}

.form-register {
    padding: 32px;
    border-radius: 12px;
    width: 40%;
    height: 480px;
    padding: 38.8px;
    margin: 110px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(36deg, rgba(244, 89, 255, 1) 0%, rgba(255, 163, 82, 1) 100%);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
}

.form-register div {
    margin-top: 10px;
}


@media(max-width: 768px) {

    .imagen_logo {
        margin: 5px 5px 5px 5px;
    }

    .login_register {
        margin-right: 2px;
        padding-right: 2px;
    }

    .bloque_header {
        width: 33%;
    }

    aside {
        width: 17%;
        padding: 4.3px 17.2px;
    }

    main {
        width: 83%;
        padding-left: 10px;
    }

    .secciones {
        flex-direction: column;
        padding-left: 5px;
    }

    .titulos {
        text-align: center;
    }

    .article_category {
        width: 95%;
        margin: 10px;
    }

    h3 {
        margin: 5px 0px;
    }

    p {
        text-align: left;
        margin: 1.5px 0px;
    }

    footer {
        height: 60px;
        padding: 5px 15px;
        align-self: flex-end;
    }

    .form-login {
        margin: 90px 0px;

        height: 500px;
    }

    .login-caja {
        min-height: 0;
    }

    .form-register {
        min-height: 0vh;
        margin: 80px 0px;
        height: 600px;
    }

    .main_productos {
        width: 100%;
    }

    .seccion_producto {
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .bloque_aside_productos {
        width: 17%;
    }

    .seccion_producto img {
        width: 100%;
    }

    .div_comentarios {
        flex-direction: column;
    }

    .div_comentarios img {
        align-self: center;
        margin-bottom: 7px;
        width: 100%;
    }

}




/* MEDIA QUERIE CELULAR */

@media (max-width: 420px) {

    .willy {
        flex-direction: column;
    }

    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 200px;
    }

    .imagen_logo {
        margin: 3px;
        width: 60px;
        margin-top: 15px;
    }

    .login_register {
        margin: 5px 0;
        display: flex;
        font-size: 5px;
    }

    .bloque_header {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    .logo_home {
        flex-direction: column;
    }

    .ul_login_register {
        justify-content: center;
    }

    .boton_login {
        font-size: small;
        width: 100%;
    }

    aside {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .ul_aside {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2px;
    }

    .ul_aside p {
        display: none;
    }

    .ul_aside li {
        margin: 20px 5px;
    }

    main {
        width: 100%;
        padding: 10px;
    }

    .secciones {
        flex-direction: column;
        padding-left: 0;
        align-items: center;
    }

    .titulos {
        text-align: center;
    }

    .article_category {
        width: 95%;
        margin: 10px auto;
    }

    h3 {
        font-size: 12px;
        margin: 5px 0;
    }

    p {
        font-size: 12px;
        margin: 2px 0;
        text-align: center;
    }

    footer {
        height: auto;
        padding: 10px;
        font-size: 12px;
        text-align: center;
    }

    .form-login {
        margin: 40px 0;
        height: auto;
        width: 80%;
    }

    .form-register {
        margin: 40px 0;
        height: auto;
        width: 80%;
    }

    .login-caja {
        min-height: 0;
    }


    .main_productos {
        width: 100%;
    }

    .seccion_producto {
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .seccion_producto img {
        width: 100%;
    }

    .div_comentarios {
        flex-direction: column;
    }

    .div_comentarios img {
        align-self: center;
        margin-bottom: 7px;
        width: 100%;
    }

    .bloque_aside_productos {
        display: flex;
        width: 90%;
    }

}