/* Reseteo de Selectores */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

ul,
ol {
    padding: 0px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

/* Reseteo de Selectores */
/* Font Header: Noto Sans */

header {
    width: 100%;
    margin: 0px;

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: large;

    color: rgb(148, 104, 159);

    display: flex;
    flex-direction: column;

}


.horizontal {
    width: 100%;
    height: 9%;
    background: rgb(48, 48, 48);
    border-bottom: rgb(144, 144, 144) solid 0.3vh;
}

.navSupHor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1%;
}

form {
    display: flex;
    justify-content: space-around;
    width: 25%;
}

a {
    color: rgb(148, 104, 159);
}

button {
    color: rgb(148, 104, 159);

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: large;

    border-radius: 5px;
    background-color: rgb(48, 48, 48);
    border: 0 none;
}


.logoHome {
    order: 0;
    display: flex;
    width: 25vw;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    order: 0;
    width: 25%;
    height: auto;
}

.home {
    order: 1;
}

.loginRegister {
    order: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25vw;

}

.login {
    margin-right: 1vh;
}

.register {
    margin-right: 1vh;
}

.search {
    order: 0;
    display: flex;
    justify-content: center;
    align-items: space-around;
    width: 50vw;
}

form {
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
}


.barra {
    border-top-left-radius: 15px 50%;
    border-bottom-left-radius: 15px 50%;
    border-top-right-radius: 15px 50%;
    border-bottom-right-radius: 15px 50%;
    background-color: #626262;

    padding: 2.5% 5%;
    color: orange;

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

}

.buscador {
    display: flex;
}

main {
    display: flex;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

}

.vetical {
    height: 100vh;
    width: 33vw;
}

.categorias {
    width: 100%;
    height: 100%;
    background-color: rgb(48, 48, 48);
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 1.5% 2.5%;
    align-self: stretch;

    border-right: rgb(144, 144, 144) solid 0.3vh;
}

.categorias a {
    color: orange;
    width: 100%
}

.categorias li {
    margin: 5% 10%;
}

.seccionMain { /* Ambos div del Main INDEX*/
    width: 20%;
    background-color: rgb(48, 48, 48);
    color: rgb(144, 158, 236);
}

.secProductos{
    width: 100%;
}

.hdosProductos {
    margin-left: 5%;
}


article {
    width: 25%;
}


.divPAMV {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 5% 2.5%;
}

.divMainProductos {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.articleMainProductos {
    width: 100%;
    padding: 2.5% 5% 2.5% 0px;
}

.imgMainProductos {
    width: 100%;
}

.imgSecProductos {
    width: 75%;
}

img {
    align-self: center;
}